################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/leetcode2024
/January/bin/Debug/net6.0
/January/obj
